<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Foodfy</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/foodfy.css"> 
    
      
</head>

<body>
    
    <header>
     
        <div class="wrapper">       
            <a href= "/home">

                <img src="/assets/logo.png" alt="Logo do Foodfy">
                
            </a>
            <div class="menu">
                <a href="/about">About</a>
                <a href="/recipes">Recipes</a>
                <a href="/newrecipe">Create New Recipe</a>            
            </div>

    </header>

    {% block content %}

       
    {% endblock %}


    <footer>
    Todos os direitos reservados, receitas Foodfy.
    </footer>

</body>
</html>