{% extends "layoutadmin.njk" %}

{% block content %}

  <div class="form_crate_container">

    <section class="header_create_container">

      <h1> Edit Recipe </h1>

      <button class="save-button" type="submit" form="form-edit"> Save Recipe </button>
      <button class="delete-button" type="submit" form="form-delete"> Delete </button>

    </section>

    <form method="POST" action="/adminrecipes?_method=PUT" id="form-edit"> 

      {% include 'adminrecipes/fields.njk' %}

      <input
        type="hidden"
        name="id"
        value={{recipe.id}}
      >

    </form>

    <form method="POST" action="/adminrecipes?_method=DELETE" id="form-delete">

      <input
        type="hidden"
        name="id"
        value={{recipe.id}}
      >
      
    </form>

  </div>  

  <script src="/scripts.js"></script>

{% endblock content %}
