{% extends "layoutadmin.njk" %}

{%block content%}
 
    <div class="card-table-container">

        <a class="button" href="/create"> Create New Recipe Here </a>

        <table width="100%">

            <thead>

                <th> Manage Recipes </th>
            
            </thead>

            <tbody>

                {% for recipe in recipes %}

                    <tr>

                        <td>
                            <img src="{{ recipe.image_url }} ">
                            <h1> {{recipe.title}} </h1>
                            <h2> por {{recipe.author}} </h2> 
                            <a href="/adminrecipes/{{recipe.id}}"> To view </a> 
                        </td>
                
                    </tr> 

                {% endfor %}                       
            
            </tbody>

        </table>
    
    </div>

{%endblock%}