{%extends "layoutadmin.njk"%}

  
{%block content%} 

    <section class="header-admin-show">
        
        <div class="butoon-edit">
            <a class="button" href="/adminrecipes/edit"> Edit Recipe </a>
        </div>

        <div class="header-admin-items">
            
            <h1>Receita: {{recipe.title}}</h1>
            
        </div>

        <div class="admin-show-container">
            <div class="recipe-img">

              <img src="{{recipe.image_url}}" alt="Imagem de {{recipe.title}}">

            </div>
            <div class="recipe-titles">
                <h2>{{recipe.title}}</h2>
                <p>por {{recipe.author}}</p>
            </div>
        </div>
        
    </section>

    <main>
        <div class="admin-show-container-items">

            <section>

                <div id="recipe-ingredientes" class="recipe-estilo">
                    <h4 class="inline-block">Ingredientes</h4>
                    <ul id="list0">
                        {% for i in recipe.ingredients %}
                            <li>{{i}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="recipe-modopreparo" class="recipe-estilo">
                    <h4 class="inline-block"> Modo de preparo </h4>
                    <ul id="list1" class="">
                        {% for i in recipe.preparation_steps %}
                            <li>{{i}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="recipe-info" class="recipe-estilo">
                    <h4 class="inline-block"> Informações adicionais </h4>
                    <p id="list2">{{recipe.Additional_information}}</p>
                </div>
            
            </section>
        
        </div>
    </main>
            
{%endblock%}