{%extends "layout.njk"%}

  
{%block content%} 

    <section>

        <div class="container">
            <div class="recipe-img">

            <img src="{{recipe.image_url}}" alt="Imagem de {{recipe.title}}">

            </div>
            <div class="recipe-titles">
                <h2>{{recipe.title}}</h2>
                <p>by {{recipe.author}}</p>
            </div>
        </div>
        
    </section>

    <main>
        <div class="container">

            <section>

                <div id="recipe-ingredientes" class="recipe-estilo">
                    <h4 class="inline-block">Ingredients</h4>
                    <a id="action" class="inline-block cursor">To hide</a>
                    <ul id="list0">
                        {% for ingredient in recipe.ingredients %}
                            <li>{{ingredient}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="recipe-modopreparo" class="recipe-estilo">
                    <h4 class="inline-block"> Preparation Steps </h4>
                    <a id="action" class="inline-block cursor"> To hide </a>
                    <ul id="list1" class="">
                        {% for step in recipe.preparation_steps %}
                            <li>{{step}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="recipe-info" class="recipe-estilo">
                    <h4 class="inline-block"> Additional Information </h4>
                    <a id="action" class="inline-block cursor"> To hide </a>
                    <p id="list2">{{recipe.additional_information}}</p>
                </div>
            
            </section>
        
        </div>
    </main>

        <script src="/scripts.js"></script>
            
{%endblock%}

  

    
